<table class="table">
    <thead>
        <tr>
            <th>Genre ID</th>
            <th>Genre Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.G_Id</td>
                <td>@genre.G_Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@genre.G_Id" class="btn btn-primary ">Edit</a>
                    <form asp-action="Delete" asp-controller="Genres" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="@genre.G_Id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa artist này?');">
                            Xóa
                        </button>
                    </form>
                    <a asp-action="Details" asp-route-id="@genre.G_Id" class="btn btn-info">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create">Add New Genre</a>