@model IEnumerable<WebNgheNhacTrucTuyen.Models.Playlist>

@{
    ViewData["Title"] = "Danh sách Playlist";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Tạo Playlist Mới</a>
</p>

<div class="row">
    @foreach (var playlist in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@playlist.P_Image" class="card-img-top" alt="Playlist Image" style="width: 100%; height: 150px; object-fit: cover;" />
                <div class="card-body">
                    <h5 class="card-title">@playlist.P_Name</h5>
                    <p class="card-text">Tạo bởi: @playlist.User.UserName</p>
                    <a href="@Url.Action("Edit", "Playlists", new { id = playlist.P_Id })" class="btn btn-warning">Sửa</a>
                    <form asp-action="Delete" asp-controller="Playlists" method="post">
                        <input type="hidden" name="id" value="@playlist.P_Id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa playlist này?');">
                            Xóa
                        </button>
                    </form>

                </div>
            </div>
        </div>
    }
</div>
