@model WebNgheNhacTrucTuyen.Models.Songs

@{
    ViewData["Title"] = "Chi tiết bài hát";
}

<h1>@Model.Title</h1>
<p><strong>Nghệ sĩ:</strong> @Model.Artist</p>
<p><strong>Thể loại:</strong> @Model.Genre</p>
<p><strong>Ngày đăng tải phát hành:</strong>@Model.UploadDate </p>


<audio controls>
    <source src="@Url.Content(Model.FilePath)" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<a href="@Url.Action("Index", "Home")">Quay lại trang chủ</a>