@model WebNgheNhacTrucTuyen.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="music-content">
    <h1 class="heading-title">Discover Track and Playlist</h1>

    <!-- Bài hát mới nhất -->
    <div class="music-section">
        <h2 class="section-title">Bài hát mới được cập nhật</h2>

        <ul class="item-container songList">
            @foreach (var song in Model.LatestSongs)
            {
                <li class="music-card">
                    <div class="img-container">
                        <img class="item-img" src="@Url.Content(song.S_CoverImagePath)" />

                        <button class="play-button" data-id="@song.S_Id" data-file-path="@Url.Content(song.S_FilePath)" data-title="@song.S_Title">
                            <i class="fas fa-play"></i>
                        </button>

                        <button class="heart-button" type="button" onclick="toggleFavorite(@song.S_Id, this)">
                            <i class="@(song.S_IsFavorite ? "fa-solid fa-heart" : "fa-regular fa-heart")"></i>
                        </button>

                    </div>

                    <div>
                        <a asp-controller="Songs" asp-action="Details" asp-route-id="@song.S_Id" class="music-name">@song.S_Title</a>
                    </div>

                    <div>
                     <a asp-controller="Artists" asp-action="Details" asp-route-id="@song.Artist.ART_Id" class="artist">@song.Artist.ART_Name</a>
                    </div>

                </li>
            }
        </ul>
    </div>
        <!-- Danh sách nghệ sĩ -->
<div class="music-section">
    <h2 class="section-title">Artists</h2>
    <ul class="item-container artistList">
            @foreach (var artist in Model.Artists)
            {
                    
                    <li>
                        <div class="artist-card">
                            <div class="img-artist">
                                    <img class="item-img" src="/images/artists/@artist.ART_Image" alt="@artist.ART_Name" />
                            </div>

                        <div class="artist-name">
                                <a asp-controller="Artists" asp-action="Details" asp-route-id="@artist.ART_Id" class="artist-name">@artist.ART_Name</a>
                            </div>

                        </div>
                    </li>
            }
    </ul>
</div>

    <!-- Danh sách album -->
    <div class="album-section">
        <h2 class="section-title">Albums</h2>
        <ul class="item-container albumList">
            @foreach (var album in Model.Albums)
            {
                <li>
                    <div class="album-card">
                        <div class="img-container">
                            <img class="item-img album-cover" src="@album.A_CoverImagePath" alt="@album.A_Name" />
                            <button class="toggle-favorite heart-button" data-id="@album.A_Id">
                                <i class="@(album.IsFavoriteAlbum ? "fa-solid fa-heart" : "fa-regular fa-heart")">
                                </i>
                            </button>
                        </div>

                        <div>
                            <a asp-controller="Albums" asp-action="Details" asp-route-id="@album.A_Id" class="album-name">@album.A_Name</a>
                        </div>


                    </div>
                </li>
            }
        </ul>
    </div>

    <!-- Danh sách playlist -->
    <div class="playlist-section">
        <h2 class="section-title">Playlists</h2>
        <ul class="item-container playlistList">
            @foreach (var playlist in Model.Playlists)
            {
                <li>
                    <div class="playlist-card">
                        <div class="img-container">
                            <img class="item-img album-cover" src="@playlist.P_Image" alt="@playlist.P_Name" />
                            <button class="heart-button toggle-favorite-playlist" data-id="@playlist.P_Id">
                                <i class="@(playlist.IsFavoritePlaylist ? "fa-solid fa-heart" : "fa-regular fa-heart")">
                                </i>
                            </button>
                        </div>

                        <div class="playlist-name">
                            <a asp-controller="Playlists" asp-action="Details" asp-route-id="@playlist.P_Id" class="playlist-name">@playlist.P_Name</a>
                        </div>



                    </div>
                </li>
            }
        </ul>
    </div>

    <!-- Bài hát theo thể loại EDM -->
    <div class="music-section">
        <h2 class="section-title">Songs by Genre: EDM</h2>
        <ul class="item-container songList">
            @foreach (var song in Model.SongsByEDM)
            {
                <li class="music-card">
                    <div class="img-container">
                        <img class="item-img" src="@Url.Content(song.S_CoverImagePath)" />
                        <button class="play-button" data-file-path="@Url.Content(song.S_FilePath)" data-title="@song.S_Title">
                            <i class="fas fa-play"></i>
                        </button>

                        <button class="heart-button" type="button" onclick="toggleFavorite(@song.S_Id, this)">
                            <i class="@(song.S_IsFavorite ? "fa-solid fa-heart" : "fa-regular fa-heart")"></i>
                        </button>
                    </div>
                    <div>
                        <a asp-controller="Songs" asp-action="Details" asp-route-id="@song.S_Id" class="music-name">@song.S_Title</a>
                    </div>

                    <div>
                        <a asp-controller="Artists" asp-action="Details" asp-route-id="@song.Artist.ART_Id" class="artist">@song.Artist.ART_Name</a>
                    </div>


                </li>
            }
        </ul>
    </div>

    <!-- Bài hát theo thể loại BGM -->
    <div class="music-section">
        <h2 class="section-title">Songs by Genre: BGM</h2>
        <ul class="item-container songList">
            @foreach (var song in Model.SongsByBGM)
            {
                <li class="music-card">
                    <div class="img-container">
                        <img class="item-img" src="@Url.Content(song.S_CoverImagePath)" />
                        <button class="play-button" data-file-path="@Url.Content(song.S_FilePath)" data-title="@song.S_Title">
                            <i class="fas fa-play"></i>
                        </button>
                        <button class="heart-button" type="button" onclick="toggleFavorite(@song.S_Id, this)">
                            <i class="@(song.S_IsFavorite ? "fa-solid fa-heart" : "fa-regular fa-heart")"></i>
                        </button>
                    </div>
                    <div>
                        <a asp-controller="Songs" asp-action="Details" asp-route-id="@song.S_Id" class="music-name">@song.S_Title</a>
                    </div>

                    <div>
                        <a asp-controller="Artists" asp-action="Details" asp-route-id="@song.Artist.ART_Id" class="artist">@song.Artist.ART_Name</a>
                    </div>

                </li>
            }
        </ul>
    </div>




    
</div>


<audio id="audioPlayer" preload="auto"></audio>
